<nav>
  <%= link_to "January", months_path %>
  <%= link_to "Feburary", months_path %>
  <%= link_to "March", months_path %>
  <%= link_to "April", months_path %>
  <%= link_to "May", months_path %>
  <%= link_to "June", months_path %>
  <%= link_to "July", months_path %>
  <%= link_to "August", months_path %>
  <%= link_to "September", months_path %>
  <%= link_to "October", months_path %>
  <%= link_to "November", months_path %>
  <%= link_to "December", months_path %>
</nav>

<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article) %>
  </li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
